pandas==2.3.3
rdkit==2025.9.3
tqdm==4.67.3
matplotlib==3.10.8
seaborn==0.13.2
chembl-webresource-client==0.10.9
scikit-learn==1.7.2
shap==0.49.1
xgboost==3.1.3
lightgbm==4.6.0
mordred==1.2.0
optuna==4.7.0
datamol==0.12.5
chembl-downloader==0.5.2
py3Dmol == 2.5.4
pdbfixer == 1.12.0
openmm == 8.4.0.post2
biopython == 1.86
meeko == 0.7.1
gemmi == 0.7.5
propka == 3.5.1
pdb2pqr == 3.6.2
openbabel-wheel == 3.1.1.23
vina == 1.2.7.dev27+g3c65c0b